.App {
  font-family: 'Lato', sans-serif;
  color: #4e5661;
}

.logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-color: #fbde67;
  border-radius: 50%;
  display: inline-block;
}

.yellow-bg {
  background-color: #fbde67;
}

.serif {
  font-family: 'Noto Serif JP', serif;
}

.sans {
  font-family: 'Lato', sans-serif;
}

.forbidden {
  cursor: not-allowed;
}

.user-select-none {
  user-select: none;
}

