.App {
  font-family: 'Lato', sans-serif;
  color: #4e5661;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

input, textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  resize: vertical;
  border: none;
  border-bottom: 1px solid #ccc;
}

#hero {
  background-image: url(./images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

@media only screen and (min-width: 600px) {
  #hero {
    height: 400px;
    background-size: cover;
  }
}
@media only screen and (min-width: 800px) {
  #hero {
    height: 500px;
    background-size: cover;
  }
}

.logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-color: #FCDF5C;
  border-radius: 50%;
  display: inline-block;
}

.nav {
  box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);
}

.yellow-bg {
  background-color: #FCDF5C;
}

.light-yellow-bg {
  background-color: #FEFBEE;
}

.serif {
  font-family: 'Domine', serif;
}

.sans {
  font-family: 'Lato', sans-serif;
}

.forbidden {
  cursor: not-allowed;
}

.user-select-none {
  user-select: none;
}


.ReactModal__Body--open {
  overflow: hidden;
}